.DS_Store
xcuserdata/
ios/featrrrnew/GoogleService-Info.plist
functions/.env
functions/certFile.json
functions/firebase-debug.log
functions/data-path
ios/featrrrnew/GoogleService-Info.plist
.firebaserc
firebase.json